@model Exception

<!DOCTYPE html>

<html>
<head>
    <title>403 - Forbidden</title>
</head>
<body>
    <div>
        <h2>403 - Forbidden</h2>
        <hr />
        @Html.DisplayForModel(Model.Message)
        <hr />
        @Html.ActionLink("Send Error Email", "SendErrorEmail")
    </div>
</body>
</html>