@model Exception

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>500 - Internal Server Error</title>
</head>
<body>
    <div>
        <h2>500 - Internal Server Error</h2>
        <hr />
        @Html.DisplayForModel(Model.Message)
        <hr />
        @Html.ActionLink("Send Error Email", "SendErrorEmail")
    </div>
</body>
</html>



